@font-face {
  src: url(/fonts/hinted-GWENT-ExtraBold.ttf);
  font-family: Gwent;
}
@font-face {
  src: url(/fonts/Ahmet\Altun\\HalisGRRegular.otf);
  font-family: Ahmed;
}

$primary-color: #bf9437;
$background-color: #050505; //Zavisi dali sha e toq ??
